/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;

}

body {
    display: table-cell;
    vertical-align: middle;
    min-width: 1080px;
}
.breadcrumb-cont {
	margin-top: 10px;
	margin-left: 35px;
	color: #41aecc; 

}
#lgin-page {
    max-width: 300px;
}
.main_table{
	font-size: 12px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.login-form{
	width: 280px;
}
tr.data-row{
	cursor: pointer;
}