<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Center</title>

  <!-- CSS  -->
  {% load static %}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  
</head>
<body>
  <div id="lgin-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      
        <form class="login-form">{% csrf_token %}
          <div class="row">
            <div class="input-field col s12 center">
              <img src="{% static 'images/ixon-logo.png' %}" alt="" class="responsive-img valign profile-image-login">
              <p class="center login-form-text">Impresoras Ixon</p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">perm_identity</i>
              <input id="user" type="text" class="validate">
              <label for="user">Usuarios</label>
            </div>
           
          </div>
         
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
         <div class="row">
            <div class="input-field col s12">
              <a id="submit-btn" class="waves-effect waves-light btn col s12">Login</a>

            </div>
          </div>
        </form>
      
    </div>
  </div>
</body>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js'%}"></script>
<script src="{% static 'js/common.js'%}"></script>
<script type="text/javascript">
  $('.input-field').keypress(function(e) {
        if(e.which == 13) {
            
            $('#submit-btn').focus().click();
        }
    });
  $('#submit-btn').click(function(){
    next_url = '';
    if (qs('next') !== null){
      next_url ='?next='+qs('next');
    }
    $.ajax({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
      },
       url: '/login'+next_url,
       method: 'POST',
       data:{
        user: $('#user').val(),
        password: $('#password').val()
       },

      }).done(function(data){
        if(data.status == 'Loged'){
          console.log(data)
          window.location.href = data.next;
        }

      }).fail(function( jqXHR, data){
        
        Materialize.toast(jqXHR.responseJSON.msg, 2500);
      });
  });

</script>
</html>