<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Centros</title>

  <!-- CSS  -->
  {% load static %}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/jquery.dataTables.min.css' %}" type="text/css" rel="stylesheet"/>
</head>
<body>
  {% include '_header.html' %}
  
  </div>
   <div class="col s12 breadcrumb-cont">
        {% for b in breadcrumbs %}
          <a href="{{b.url}}" class="breadcrumb">{{b.title}}</a>
        {% endfor %}
      </div>
  <div class="container">
   

   

    <div class="section" id="result">
      <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Centro</th>
                <th>Ciudad</th>
                <th>Impresoras</th>
                <th>P&aacute;ginas</th>
                <th>Desconetadas</th>
                <th>Niv&eacute;l de Toner Bajo</th>
            </tr>
        </thead>
      
      </table>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

 {% include '_footer.html' %} 


  <!--  Scripts-->
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js'%}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js'%}"></script>
  <script>
    var url =  '/printers/api/report/customer/{{customer_id}}'
    $( document ).ready(function() {
       $('#example').DataTable( {
        "language": {
                "url": "/static/js/dataTables.spanish.lang"
        },
        "ajax": url,
        "createdRow": function (row, data, index) {
          console.log(data);
          $(row).addClass('data-row');
          $(row).attr('data_id',data.center_id);
        },
        "columns": [
            { "data": "name" },
            { "data": "city" },
            { "data": "total_printers" },
            { "data": "total_pages" },
            { "data": "total_disconect" },
            { "data": "total_low_toner" },
            
        ]
        });
       $('#example').on('click', 'tr.data-row', function () {
      
        window.location.href = '/center/'+$(this).attr('data_id');
      });
    });
  </script>

  </body>
</html>
