<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Reportes</title>

  <!-- CSS  -->
  {% load static %}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/jquery.dataTables.min.css' %}" type="text/css" rel="stylesheet"/>
</head>
<body>
  {% include '_header.html' %} 


  <div class="container">
   


    <div class="section" id="result">

      <div class="row">
        <form class="">{% csrf_token %}
          
            <div class="input-field col s3">
             <select id="month_sel">
                <option value="" disabled selected>Seleccione Mes</option>
                
                {% for c in months %}
                  <option value="{{ c.0 }}">{{ c.1 }}</option>
                {% endfor %}
              </select>
              <label for="center_sel">Mes</label>
             </div>
             <div class="input-field col s3">
             <select id="year_sel">
                <option value="" disabled selected>Seleccione Año</option>
                
                {% for c in years %}
                  <option value="{{ c.0 }}">{{ c.1 }}</option>
                {% endfor %}
              </select>
              <label for="center_sel">Año</label>
             </div>
            <!--<div class="input-field col s4">
              <i class="material-icons prefix">today</i>
              <input type="date" id="date_to" class="datepicker">
              <label class="active" for="date_to">To</label>
            </div>-->
            <div class="input-field col s3">
             <select id="center_sel">
                <option value="" disabled selected>Seleccione un Cliente</option>
                <option value="">Todos</option>
                {% for c in centers %}
                  <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
              </select>
              <label for="center_sel">Clientes</label>
             </div>

             <div class="input-field col s1">

               <p>
                  <input type="checkbox" class="filled-in" id="alerts" checked="checked" />
                  <label for="alerts">Alertas</label>
              </p>
            </div>
           
             
       

      </div>
      <div class="row">
         <div class="input-field col s2">
            <!--  <a id="submit-btn" class="waves-effect waves-light btn col s12">Filtrar <i class="material-icons right">fast_forward</i></a>-->

          </div>
        <div class="input-field col s3 right">
              <a id="pdf-btn" class="waves-effect waves-light btn col s12">Descargar PDF <i class="material-icons right">description</i></a>

        </div>
        <div class="input-field col s3 right">
              <a id="xls-btn" class="waves-effect waves-light btn col s12">Descargar XLS <i class="material-icons right">description</i></a>

        </div>

      </div>

    </form>
     <!-- <table id="example" class="display main_table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>N&uacute;mero de Serie</th>
                
                
                <th>Estatus</th>
                <th>IP</th>
                <th>P&aacute;ginas</th>
                <th>Niv&eacute;l de Toner</th>
                <th>Host</th>
                
             
            </tr>
        </thead>
       
      </table>
      -->
    </div>
    <br><br>
</div>
  {% include '_footer.html' %} 

  <!--  Scripts-->
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js'%}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js'%}"></script>
  <script>
    
    var url =  '/printers/api/report/printerReport';
        
    /*var dataTable = null;
    function loadDT(){
      
      var params = '?';
      if($('#year_sel').val() !== '' && $('#month_sel').val() !== '' ) {
        
        if(new Date(parseInt($('#year_sel').val()),parseInt($('#month_sel').val()) -1) < new Date()){
          params = params +'month='+$('#month_sel').val()+'&year='+$('#year_sel').val();
             
        }else{
           Materialize.toast('Rango de Fecha Inv&acute;lido', 2500);
        }
      }
      if($('#center_sel').val() !== null){
        if (params !== '?'){
          params = params+'&';
        }
        params=params +'customer='+$('#center_sel').val();
      }

      if($('#alerts').is(':checked')){
        if (params !== '?'){
          params = params+'&';
        }
        params=params +'alerts=true';
      }

      if(params !== '?'){
        dataTable.ajax.url(url+params);
        dataTable.ajax.reload();
      }else{
        Materialize.toast('Debes seleccionar un Cliente', 2500);
      }
      
      
    }*/
    $( document ).ready(function() {
     
      $('select').material_select();
      /*dataTable = $('#example').DataTable( {
        "language": {
                "url": "/static/js/dataTables.spanish.lang"
        },
        "ajax": url,
        "columns": [
            { "data": "last_report.date" },
            { "data": "serial_number" },
            
           // { "data": "model" },
            { "data": 'last_report.status'},
            { "data": "ip_address" },
            { "data": "last_report.pages_printed" },
            { "data": "last_report.toner_level" },
            { "data": "host_name" },
            //{ "data": "mac_address" },
            
        ]
        });*/
       /*$('#submit-btn').click(function(){
          loadDT();

       });*/
      
       $('#pdf-btn').click(function(){
          var urlpdf = '/printers/report/generatePdf'
          var params = '?format=pdf';
          if($('#year_sel').val() !== '' && $('#month_sel').val() !== '' ) {
        
            if(new Date(parseInt($('#year_sel').val()),parseInt($('#month_sel').val()) -1) < new Date()){
              params = params +'&month='+$('#month_sel').val()+'&year='+$('#year_sel').val();
                 
            }else{
               Materialize.toast('Rango de Fecha Inv&acute;lido', 2500);
            }
          }
          if($('#center_sel').val() !== null){
            
            params=params +'&customer='+$('#center_sel').val();
          }
          if(params !== '?format=pdf'){
            window.open(urlpdf+params,'_blank')
          }else{
             if($('#alerts').is(':checked')){
            
                params=params +'&alerts=true';
              }
            Materialize.toast('Debes seleccionar un Cliente', 2500);
          }
         
         
          

          
       });
       $('#xls-btn').click(function(){
          var urlpdf = '/printers/report/generatePdf'
          var params = '?format=xls';
          if($('#year_sel').val() !== '' && $('#month_sel').val() !== '' ) {
        
            if(new Date(parseInt($('#year_sel').val()),parseInt($('#month_sel').val()) -1) < new Date()){
              params = params +'&month='+$('#month_sel').val()+'&year='+$('#year_sel').val();
                 
            }else{
               Materialize.toast('Rango de Fecha Inv&acute;lido', 2500);
            }
          }
          if($('#center_sel').val() !== null){
            
            params=params +'&customer='+$('#center_sel').val();
          }
         
          if(params !== '?format=xls'){
            window.open(urlpdf+params,'_blank')
          }else{
             if($('#alerts').is(':checked')){
            
               params=params +'&alerts=true';
              }
            Materialize.toast('Debes seleccionar un Cliente', 2500);
          }
          

          
       });
    });
    /*
status: "Advertencia",
pages_printed: 1104,
toner_level: "K(53) ",
host_name: "FLOSUPDEN-0505",
mac_address: "00:1D:60:85:F7:44",
date: "2016-10-22T20:07:02.472495+00:00",
serial_number: "ZDBQBJCH30005ZP ",
model: "Samsung M332x 382x 402x Series",
ip_address: "190.1.76.65",
printer_id: 8
    */
  </script>

  </body>
</html>
